.about-page-container {
  max-width: 500px;
  padding: 20px;
  margin: auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: #041549;
  font-weight: bold;
}

.button {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

input {
  box-sizing: border-box;
  right: 0%;
  top: 0%;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  padding: 14px;
}

p {
  margin-bottom: 0px;
}
