.title {
  font-family: "Montserrat", sans-serif;
  color: #041549;
  font-weight: bold;
}

input {
  box-sizing: border-box;
  right: 0%;
  top: 0%;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  padding: 14px;
}

p {
    margin-bottom: 0px;
}
