.finance-form-container {
  font-family: "Montserrat", sans-serif;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finance-form-container form {
  width: 100%;
}

.title {
  text-align: center;
}

.income-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin-top: 55px;
  margin-bottom: 22px;
}

.form-label {
  font-weight: bold;
}

.currency-input {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  right: 0%;
  top: 0%;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  padding: 14px;
  margin-top: 9px;
  font-weight: bold;
  font-size: 16px;
}

.currency-input input {
  width: 100%;
  border: 0;
  padding: 10px;
  outline: 0px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.income-period {
  margin-left: auto;
  width: 20%;
}

.employment-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.option-container {
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  padding: 14px;
  margin-top: 9px;
  margin-bottom: 40px;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

select {
  appearance: none;
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
    white no-repeat 96% !important;
}
