.summary-container {
  font-family: "Montserrat", sans-serif;
  max-width: 550px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #041549;
}

.title {
  color: #343a40;
}
